body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/imgs/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.drum-kit-keys {
  display: flex;
  flex-wrap: wrap;
}

.key {
  border: 4px solid black;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem .5rem;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: all 0.7s;
}

.key:hover {
  cursor: pointer;
}

.key-letter {
  margin: 0px;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 0 5px black;
}

.key-action {
  color: #ffc600;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 0px;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}